
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 600px;
}
th, td {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
    height: 20px;
    width: fit-content;
}
th {
    background-color: #f2f2f2;
}
p{
    margin-block-end: 0;
    margin-block-start: 0;
    width: fit-content;
}
a{
    color: black;
}
