
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

input.submit_btn{

    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: larger;
    font-family: sans-serif;

}
.inputForm{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



input.reqInput
{
    width: 700px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: larger;
}

.result_items{
    display: flex;
    flex-direction: column;
    font-size: larger;
    font-family: sans-serif;
}
.result_item{
    display: flex;
    height: 50px;
    justify-content: center;
}